body{
    background-color: rgb(95, 82, 82);
}
h1{
    color : cornflowerblue ;
    text-shadow: -1px -1px 4px gray , 3px 2px 5px brown , 5px 0px 10px black;
}
#mostrar{
    color: limegreen;
    border-color: firebrick;
    border-radius: 35%;
}
strong{
    display: block;
    text-align: center;
    stroke: 2px chocolate;
}
p{
    background-color: aliceblue;
    text-shadow: -1px -1px 10px royalblue , 2px 2px 6px brown;
}
mostracio{
   display: block;
}
#info{
   color:blanchedalmond;
   text-align: right;
  
}
#info2{
    color: aliceblue;
    text-shadow: -1px -1px 10px brown , 2px 2px 6px royalblue;
    background-color: gold;
    text-align: left;

}
.contendor{
    background-color: orangered;
    border-radius: 10%;
    display: block;
}
.bola{
    background-color: goldenrod;
    color:  bisque;
    text-align: center;
    border-radius: 51%;
    opacity: 35%;
}